@model Hospital.Models.ToaThuocChiTiet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ToaThuocChiTiet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CachDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdThuocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdThuocNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdToaThuocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdToaThuocNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
